
# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Coverage
coverage

# Transpiled files
build/

# VS Code
.vscode
!.vscode/tasks.js

# JetBrains IDEs
.idea/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Misc
.DS_Store

# Tests
./__tests__/*.js

# js

dist/**/*.js
dist/**/*.d.ts
dist/**/*.js.map

yarn.lock
package-lock.json

.idea/

!src/types.d.ts
!*/**/jest.config.js
!*/**/preprocessor.js

dist/
!docs/