
# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Coverage
coverage/**/*

# VS Code
.vscode
!.vscode/tasks.js

# JetBrains IDEs
.idea/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Misc
.DS_Store

# Tests
__tests__/**/*

# js
src/**/*
yarn.lock
package-lock.json

.git/**/*
.idea/**/*

!dist/types.d.ts
!*/**/jest.config.js
!*/**/preprocessor.js

!dist/**/*
